.generalContainer {
    @apply columns-2 
}

.headerContainer{
    @apply sticky top-0 z-10 overflow-hidden
}

.headerTypography{    
    @apply relative mx-auto flex items-center text-white
}


.eventsTitle {
    font-family: 'PoppinsLight';
    @apply flex justify-center p-4 uppercase text-white
    PC-1920*1080:text-8xl
    PC-1600*900:text-7xl
    PC-1366*768:text-6xl
    PC-1280*720:text-5xl
    PC-800*600:text-4xl
    PC-640*480:text-3xl
    Mobile-390*844:text-2xl
    Mobile-280:text-xl
    Mobile-390*844:hidden
    Mobile-280:hidden
    bg-dark-blue
}

.eventsTitleList {
    font-family: 'PoppinsLight';
    @apply flex justify-center p-4 uppercase text-white
    PC-1920*1080:text-6xl
    PC-1600*900:text-5xl
    PC-1366*768:text-4xl
    PC-1280*720:text-3xl
    PC-800*600:text-2xl
    PC-640*480:text-xl
    Mobile-390*844:text-lg
    Mobile-280:text-lg 
    Mobile-390*844:hidden
    Mobile-280:hidden
    bg-dark-blue
}

.optionsContainer {
    display: flex;   
    font-family: 'PoppinsLight';
    align-content: center;
    justify-content: center;
    background-color: #333F51;
    color: #DD8E0A;
    @apply 
    w-full h-screen
    Mobile-390*844:text-xl PC-800*600:text-2xl PC-1600*900:text-2xl PC-1366*768:text-2.5xl PC-1920*1080:text-2.5xl 
    sm:w-1/4 md:w-1/4  lg:w-1/4  xl:w-1/4 2xl:w-1/4 hidden sm:inline-block
}


.categories
{      
    
    @apply flex sm:grid h-max 
}

.video-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}