.generalContainer {
    @apply columns-2 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2; 
}

.inputsContainer {   
    display:grid;
    justify-content: center;
    align-content: center;
    @apply p-6  text-center h-screen 
}

.logoImg {
    @apply   mx-auto    
}

.logintitle
{
    font-size: xx-large;
    color: #FFFFFF;
    font-family: 'PoppinsBold';
}

.infotext
{
    font-size:1rem;
    width: 80%;
    color: #FFFFFF;
    font-family: 'Poppins';
    @apply 
    mt-9 mb-4 mx-auto

}

.inputcodeContainer {
    @apply m-auto justify-center h-min w-min
}

.inputcodeTitle{
    @apply text  text-left  p-1 
}

.text 
{
    font-family: 'PoppinsLight';
    color: #FFFFFF;

}

.inputformat
{
    font-family: 'PoppinsLight';
    @apply w-auto rounded p-2 sm:w-80
}

.sendContainer {
    @apply mx-auto mt-5 justify-center h-min w-min
}


.buttonsend
{
    font-family: 'PoppinsLight';
    color: #FFFFFF;
    font-weight: lighter;
    background-color: #F59E0B;
    border-radius: 10px;
    border: none;
    height:auto;
    @apply w-auto mt-2 p-2 mb-3 sm:w-80 hover:bg-orange-500 font-bold rounded
}

.resendbutton
{
    text-align: center;
    font-family: 'PoppinsLight';
    color: #F59E0B;
    @apply text-sm w-max mt-2 mb-3 sm:w-auto sm:text-right sm:text-base rounded
    
}

.imgtemplate{
    @apply hidden sm:block sm:w-screen sm:h-screen object-cover
}
