.generalContainer {
    @apply hidden sm:flex sm:flex-col sm:items-center sm:justify-center sm:mt-6
}

.headerContainer{
    @apply sticky w-screen top-0 z-10 hidden 
    PC-1920*1080:inline-block 
    PC-1600*900:inline-block 
    PC-1366*768:inline-block
    PC-1280*720:inline-block 
    PC-800*600:inline-block
    PC-640*480:inline-block 
    Mobile-390*844:hidden  
}

.headerTypography{    
    @apply relative mx-auto flex items-center text-white
}

.titleH1 
{
    font-family: 'PoppinsLight';
    @apply text-center text-white 
    PC-1920*1080:text-3xl
    PC-1600*900:text-3xl
    PC-1366*768:text-2xl
    PC-1280*720:text-xl
    PC-800*600:text-xl
    PC-640*480:text-base

}

.pData
{
    @apply sm:p-3 sm:pb-6 sm:text-xl
    PC-800*600:pb-2 PC-800*600:p-0  PC-800*600:pl-3
    PC-640*480:pb-2 PC-640*480:p-0 PC-640*480:pl-2
}

.titleSpan
{
    font-family: 'PoppinsLight';
    @apply text-white
    PC-1920*1080:text-2xl
    PC-1600*900:text-2xl
    PC-800*600:text-base
    PC-640*480:text-sm

}

.contentSpan
{
    font-family: 'PoppinsLight';
    @apply text-Orange font-bold ml-4
    PC-1920*1080:text-2xl
    PC-1600*900:text-2xl
    PC-800*600:text-base
    PC-640*480:text-sm
}

.imgContainer
{
    @apply shadow-2xl rounded-lg overflow-hidden border-4 border-yellowCapas border-opacity-40 
    PC-1920*1080:h-CarouselItemPC-1366*768 PC-1920*1080:object-contain PC-1920*1080:inline-block PC-1920*1080:w-CarouselItemPC-800*600 
    PC-1600*900:h-CarouselItemPC-1280*720 PC-1600*900:object-contain PC-1600*900:inline-block  PC-1600*900:w-CarouselItemPC-800*600 
    PC-1366*768:h-CarouselItemPC-1024*768 PC-1366*768:w-CarouselItemPC-800*600 PC-1366*768:object-contain PC-1366*768:inline-block
    PC-1280*720:h-CarouselItemPC-640*480 PC-1280*720:w-CarouselItemPC-640*480
    PC-800*600:h-36 PC-800*600:object-contain PC-800*600:inline-block PC-800*600:w-72 
    PC-640*480:w-40 PC-640*480:object-contain PC-640*480:h-32 PC-640*480:mt-4
     
}

.infoContainer
{
    @apply sm:flex-grow sm:ml-4 sm:bg-cover overflow-auto bg-dark-blue rounded-lg shadow-xl border-4 border-Orange border-opacity-20
    PC-1920*1080:h-CarouselItemPC-1920*1080 
    PC-1600*900:h-CarouselItemPC-1600*900 PC-1600*900:w-CarouselItemPC-1600*900 
    PC-1366*768:h-CarouselItemPC-1366*768 PC-1366*768:w-CarouselItemPC-1366*768
    PC-1280*720:h-CarouselItemPC-1280*720 PC-1280*720:w-CarouselItemPC-1280*720
    PC-800*600:w-CarouselItemPC-800*600 PC-800*600:h-CarouselItemPC-800*600
    PC-640*480:w-CarouselItemPC-640*480 PC-640*480:h-CarouselItemPC-640*480 PC-640*480:ml-4 PC-640*480:flex-grow
    
}

.topbuttonsContainer
{
    @apply flex columns-2 h-max w-full me-0 shadow-xl border-b-2 border-yellowCapas border-opacity-40
    
}


.ticketText
{
    @apply 
    PC-1920*1080:text-2xl
    PC-1600*900:text-2xl
    PC-1280*720:text-xl
    PC-800*600:text-sm PC-800*600:w-max
    PC-640*480:text-xs  PC-640*480:w-max
}

.ticketPrice
{
    @apply text-white
    PC-1920*1080:text-2xl PC-1920*1080:text-white
    PC-1600*900:text-2xl PC-1600*900:text-white
    PC-1280*720:text-xl
    PC-800*600:text-base
    PC-640*480:text-sm
}

.ticketPrice2
{
    @apply 
    PC-1920*1080:text-xl
    PC-1600*900:text-xl
    PC-1280*720:text-xl
    PC-800*600:text-sm
    PC-640*480:text-xs 
}

.dropboxContainer
{
    @apply rounded-lg border-opacity-25
    PC-1920*1080:h-auto PC-1920*1080:w-auto
    PC-1600*900:h-auto PC-1600*900:w-auto
    PC-800*600:h-auto PC-800*600:w-auto
    PC-640*480:h-auto PC-640*480:w-auto
    Mobile-390*844:h-auto Mobile-390*844:w-auto
    Mobile-280:h-auto Mobile-280:w-auto
}

.botbuttonsContainer
{
    @apply sm:flex sm:h-1/2 sm:items-end sm:justify-end sm:mb-auto mr-4 p-4
    PC-1600*900:mt-0 PC-1600*900:h-2/5
    PC-1366*768:mt-0 PC-1366*768:h-2/4 PC-1366*768:mr-4
    PC-1280*720:mt-0 PC-1280*720:h-3/6 PC-1280*720:mr-4
    PC-800*600:mt-0
    PC-640*480:pb-7 PC-640*480:text-sm PC-640*480:mr-4
    
}




.optionsContainer {
    display: flex;   
    font-family: 'PoppinsLight';
    align-content: center;
    justify-content: center;
    background-color: #333F51;
    color: #DD8E0A;
    @apply 
    w-full h-screen
    Mobile-390*844:text-xl PC-800*600:text-2xl PC-1600*900:text-2xl PC-1366*768:text-2.5xl PC-1920*1080:text-2.5xl 
    sm:w-1/4 md:w-1/4  lg:w-1/4  xl:w-1/4 2xl:w-1/4 hidden sm:inline-block
}


.categories
{      
    
    @apply flex sm:grid h-max 
}

.titleContainer {
    @apply flex flex-col items-center justify-center text-xl mt-4
    PC-1920*1080:text-2xl
    PC-1600*900:text-2xl
    PC-1280*720:text-xl
    PC-800*600:text-sm
    PC-640*480:text-xs
}

.capacityContainer {
    @apply flex flex-col items-center justify-center text-xl  text-yellowCapas
    PC-1920*1080:text-2xl
    PC-1600*900:text-2xl
    PC-1280*720:text-xl
    PC-800*600:text-sm
    PC-640*480:text-xs
}