.generalContainer{
}

.headerContainer{
    @apply sticky top-0 z-10 bg-white overflow-hidden max-h-full
}

.headerTypography{
    @apply relative mx-auto flex items-center text-white
}

.titleContainer{
    @apply flex flex-row justify-center w-full h-full m-auto px-10
}

.title1 {
    @apply font-bold text-center text-white font-text

    PC-1920*1080:text-6xl PC-1920*1080:mt-14
    PC-1600*900:text-5xl PC-1600*900:mt-14
    PC-1366*768:text-4xl PC-1366*768:mt-14
    PC-1280*720:text-4xl PC-1280*720:mt-14
    PC-800*600:text-3xl PC-800*600:mt-14
    PC-640*480:text-2xl PC-640*480:mt-12
    Mobile-390*844:text-2xl Mobile-390*844:mt-4
    Mobile-280:text-xl
}

.title2 {
    @apply font-bold text-center text-orange-500 font-text ml-2

    PC-1920*1080:text-6xl PC-1920*1080:mt-14
    PC-1600*900:text-5xl PC-1600*900:mt-14
    PC-1366*768:text-4xl PC-1366*768:mt-14
    PC-1280*720:text-4xl PC-1280*720:mt-14
    PC-800*600:text-3xl PC-800*600:mt-14
    PC-640*480:text-2xl PC-640*480:mt-12
    Mobile-390*844:text-2xl Mobile-390*844:mt-4
    Mobile-280:text-xl
}


.formContainer {
    @apply flex items-center justify-center h-auto m-auto w-2/3
    Mobile-280:w-60 
}

.form {
    width: 1800px;

    @apply p-8 rounded-lg bg-dark-blue border-dashed border-2 border-yellowCapas
    Mobile-280:w-60 Mobile-280:p-4
}

.titleInputs {
    @apply font-bold text-xl text-center font-text text-yellowCapas mb-10
}

.popupContainer{
    @apply absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4
    Mobile-390*844:w-5/6
}